/*=== content nav sider bar site ===*/
.content-site__section-one{
  &.nav-dark{
    background-color: transparent;
  }
  &.nav-whiter{
    background-color: $white;
  }
}
/*=== nav sider bar site ===*/
/*== logo site ==*/
.section-one__cont-logo{
  width: 100%;
  figure{
    padding:.4rem 0;
    text-align: center;
    picture{
      img{
        width: 100%;
        max-width: 20rem;
      }
    }
  }
  &.nav-dark__logo{
    border-bottom: 1px solid $white;
  }
  &.nav-whiter__logo{
    border-bottom: 1px solid $gray-medium;
  }
}
.logo-university{
  width:100%;
  padding:.3rem 0;
  figure{
    width:100%;
    text-align:center;
    figcaption{
      color:$blue-brand-soft;
    }
    picture{
      img{
        max-width:150px;
      }
    }
  }
  &.logo-u-dark{
    figcaption{
      text-align: center;
      font-family:'atlas-medium',sans-serift;
    }
  }
  &.logo-u-light{
    figcaption{
      text-align: center;
      font-family: 'atlas-medium',sans-serift;
    }
  } 
}
.section-one__data-contact{
  .data-contact__cont{
    border-top: 1px solid $white;
    padding: .5rem 0;
    p{
      margin: 0;
      text-align: center;
      font-family:'atlas-light',sans-serift;
      @include rem(12);
    }
  }
  &.contact--dark{
    .data-contact__cont{
      p{
        color: $white;
        a{
          color: $white;
        }
        span{
          color: $white;
        }
      }
    }
  }
  &.contact--light{
    .data-contact__cont{
      p{
        color: $gray-medium;
        a{
          color: $gray-medium;
        }
        span{
          color: $gray-medium;
        }
      }
    }
  }
}
/*== nav site ==*/
.section-one__cont-nav{
  width: 100%;
  nav{
    padding:.4rem 0;
    ul{
      width: 100%;
      @include flex;
      @include justify-content(center);
      @include align-items(center);
      @include flex-wrap(wrap);
      li{
        width: 50%;
        &:nth-child(2),
        &:nth-child(4){
          text-align: right;
        }
        &:nth-child(1),
        &:nth-child(3){
          text-align: left;
        }
        a{
          padding:.5rem 0;
          text-transform: uppercase;
          letter-spacing: .1em;
          @include rem(12);
          font-family:'Founders-Medium',sans-serift;
        }
      }
    }
  }
  &.nav-whiter__nav{
    nav{
      border-bottom: 1px solid $gray-medium;
      ul{
        li{
          a{
            color: $gray-medium;
            &:hover{
              color:$blue-brand-soft;
            }
          }
        }
      }
    }
  }
  &.nav-dark__nav{
    nav{
      border-bottom: 1px solid $white;
      ul{
        li{
          a{
            color: $white;
             &:hover{
              color:$blue-brand-soft;
            }
          }
        }
      }
    }
  }
  aside{
    .cont-nav__data-contact{
      &.data-location{
        @include flex;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        li{
          width: 50%;
          p{
            margin: 0;
            font-family: $rubik-light;
            color: $gray-medium;
            @include rem(14);
          }
          a{
            color: $blue-brand-soft;
            @include rem(14);
          }
        }
      }
    }
  }
}
/*==== tablet styles ===*/
@include tablet{
  .content-site__section-one{
    @include flex;
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    height: 100vh;
    border-left: 1px solid $gray-low;
  }
  .section-one__cont-logo{
    //padding: 4rem ;
    figure{
      padding:1rem;
      picture{
        img{
          max-width:none;
        }
      }
    }
    &.nav-dark__logo{
      border:none;
    }
  }
  .section-one__cont-nav{
    nav{
      padding:2rem 0;
      border-bottom: 0px !important;
      height: 60vh;
      ul{
        li{
          width: 100%;
          text-align: left !important;
          a{
            @include rem(14);
          }
        }
      }
    }
  }
}
/*==== desktop styles ===*/
@include desktop{
  .content-site__section-one{
    padding-top: 1rem;
    @include flex;
    @include justify-content(space-around);
    @include align-items(flex-start);
    flex-direction: column;
    height: 95vh;    
    border-left: 1px solid $gray-low;
    .section-one__cont-logo{
      @include order(1);
      height: 100vh;
      &.nav-dark__logo{
        border:none;
      }
      &.nav-whiter__logo{
        border: none;
      }
    }
    .logo-university{
      @include order(2);
    }
    .section-one__data-contact{
      @include order(2);
      .data-contact__cont{
        border-top: none !important;
        text-align: left;
        p{
          text-align: left !important;
          @include rem(14);
        }
      }
    }
    .section-one__cont-nav{
      @include flex;
      @include justify-content(flex-start);
      @include align-items(center);
      @include flex-wrap(wrap);
      flex-direction: column;
      @include order(1);
      height: 100vh;
      nav{
        width: 100%;
        // padding: 0 1rem 1rem 1rem;
        border-bottom: none;
        ul{
          li{
            width: 100%;
            text-align: left;
            margin-bottom: .5rem;
            font-famili:'Founders-Medium' , sans-serif;
            @include rem(14);
            a{
              @include rem(14);
            }
          }
        }
      }
      aside{
        width: 100%;
        padding:1rem 1rem 0 1rem;
        .cont-nav__data-contact{
          &.data-location{
            li{
              width: 100%;
            }
            li:nth-child(3){
              border-bottom: 1px solid $gray-medium;
            }
          }
        }
      }
      &.nav-whiter__nav{
        nav{
          // border-left: 1px solid $gray-medium;
        }
        aside{
          border-left: 1px solid $gray-low;
          border-top:1px solid $gray-low ;
        }
      }
      &.nav-dark__nav{
        nav{
          // border-left: 1px solid $white;
        }
      }
    }
  }
  .section-one__cont-logo{
    figure{
      padding:.4rem 0;
      border-bottom: none;
      text-align: center;
      picture{
        img{
          width: 100%;
          max-width:10rem;

        }
      }
    }
  }
}

// landscape mobile
@include landscape-mobile{
  .content-site__section-one{
    height:auto;
    nav{
      height:auto;
      padding:0 0;
    }
    .section-one__cont-logo{
      figure{
        padding:.4rem 0;
        text-align: center;
        picture{
          img{
            width: 100%;
            max-width: 20rem;
          }
        }
      }
    }
  }
}