body.greu-abut-us{
  .logo-university{
    display:none;
  }
  .content-site{
    height:auto;
    @include desktop{
      height:100vh;
    }
  }
  .content-site__section-two{
    background-image: url(http://greuarquitectos.com/wp-content/themes/greu-theme/images/bg-site.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0rem;
    padding-left: 0rem;
    .content-abut-us{
      @include flex;
      @include justify-content(center);
      @include align-items(stretch);
      @include flex-wrap(wrap);
      height: 100%;
    }
    //textos About us
    .about-us-text{
      @include flex;
      @include justify-content(center);
      @include align-items(center);
      @include flex-wrap(wrap);
      padding-right: .9375rem;
      padding-left: .9375rem;
      background-color: $white;
      width: 100%;
      .grid-text-cont{
        padding: 1rem 0;
        width: 100%;
      }
    }
    p{
      font-family: 'atlas-light' , sans-serif;
      text-align: left;
      @include rem(18);
      line-height: 1.5em;
      text-align:justify;
    }
    .one-colums{
      column-count:1;
    }
    //
    .about-us-sevices{
      width: 100%;
      padding: 1rem;
      ul{
        width: 100%;
        li{
          width: 100%;
          border-bottom: 1px solid $gray-low;
          h4{
            color: $blue-brand-soft;
            padding: .5rem 0;
          }
          p{
            color: $gray-low;
            padding: .5rem 0;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
  @include tablet {
    .content-site__section-two{
      border-left: 1px solid $gray-low;
      border-right: 1px solid $gray-low;
      height: 95vh;
      overflow: auto;
    }
  }
  @include desktop{
    .content-site__section-two{
      border-left: 1px solid $gray-low;
      border-right: 1px solid $gray-low;
      height: 95vh;
      overflow: auto;
      p{
        @include rem(18);
      }
      .about-us-sevices{
        width: 80%;
      }
    }
  }
}