body.greu-contact{
  .content-site__section-two{
    padding-left: 0;
    padding-right: 0;
    @include flex;
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    height:auto;
    .contact-form-cont{
      width: 100%;
      padding-right: .9375rem;
      padding-left: .9375rem;
      .contact-form__title{
        padding: 1rem 0;
        p{
          font-family: rubik-light;
        }
      }
      .contact-form{
        width: 100%;
        form{
          .input-cont{
            width: 100%;
            text-align: right;
            input{
              margin:0;
              height: 2rem;
              width:100%;
              box-shadow: 0px 0px 0px $white;
              border: none;
              border-top: 1px solid $gray-medium;
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: rubik-light;
                color: $blue-brand-soft;
                text-align: center;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                font-family: rubik-light;
                color: $blue-brand-soft;
                text-align: center;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                font-family: rubik-light;
                color: $blue-brand-soft;
                text-align: center;
              }
              &:-moz-placeholder { /* Firefox 18- */
                font-family: rubik-light;
                color: $blue-brand-soft;
                text-align: center;
              }
              &:focus{
                outline:1px solid $blue-brand-soft;
              }
            }
            button{
              margin: 1rem 0;
              padding: .5rem;
              background-color: $blue-brand-soft;
              font-family: rubik-light;
              color: $white;
              border-radius: 10px;
              width: 40%;
              &::after{
                content: '>';
                margin-left: .5rem;
              }
            }
          }
          .input-cont:nth-child(1){
            input{
              border-top: 1px solid $gray-medium;
              border-bottom:none;
            }
          }
          .input-cont:nth-child(5){
            input{
              border-top: 1px solid $gray-medium;
              border-bottom: 1px solid $gray-medium;
            }
          }
        }
      }
    }
    .cont-social-media-footer{
      width: 100%;
      background-image: url("//greuarquitectos.com/wp-content/themes/greu-theme/images/bg-site.png");
      background-position: center;
      background-size:cover;
      padding-right: .9375rem;
      padding-left: .9375rem;
      @include flex;
      @include justify-content(center);
      @include align-items(center);
      @include flex-wrap(wrap);
      ul{
        padding: 1rem 0;
        @include flex;
        @include justify-content(flex-start);
        @include align-items(center);
        @include flex-wrap(wrap);
        li{
          margin: 0 1rem;
          img{
            max-width:35px;
          }
        }
      }
    }
  }
  @include tablet{
    .content-site__section-two{
      border-left: 1px solid $gray-low;
      border-right: 1px solid $gray-low;
      height: 95vh;
      .contact-form-cont{
        height: 80%;
      }
    }
  }
  @include desktop{
    .content-site__section-two{
      border-left: 1px solid $gray-low;
      border-right: 1px solid $gray-low;
      height: 95vh;
      .contact-form-cont{
        padding: 2rem;
      }
      .cont-social-media-footer{
        padding-right: 4rem;
        padding-left: 4rem;
        @include justify-content(flex-end);
      }
    }
  }
  // landscape mobile
  @include landscape-mobile{
    height:auto;
    .content-site__section-two{
      height:auto;
    }
  }
}