body.home-site{
  background-color: $gray-medium;
  background-image: url(http://greuarquitectos.com/wp-content/themes/greu-theme/images/bg-1duo-2.1.png);
  background-position: top center;
  background-repeat-x: no-repeat;
  background-size: cover;
  &:before{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(9,25,37,.85) 5%, rgba(8,24,37,.76) 10%);
    z-index: -1;
    // opacity:.1;
  }
  .content-site{
    height:auto;
    @include desktop{
      height:100vh;
    }
  }
}
/*=== content homer ===*/
.content-site__section-two{
  padding-top: 1rem;
  padding-bottom: 1rem;
  .section-two__cont-text-home{
    p{
      text-align:justify;
      color: $white;
      font-family: 'atlas-light', sans-serif;
      @include rem(16);
      strong{
        color:$blue-brand-soft;
      }
    }
  }
  .section-two__data-contact{
    .data-contact__cont{
      border-top: 1px solid $white;
      padding: .5rem 0;
      p{
        margin: 0;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        @include rem(12);
        color: $white;
        a{
          color: $white;
        }
        span{
          color: $white;
        }
      }
    }
  }
}

//tablet
@include tablet{
  .content-site__section-two{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include flex;
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    height: 100vh;
    border-left: 1px solid $gray-low;
    border-right: 1px solid $gray-low;
    .section-two__cont-text-home{
      p{
        @include rem(32);
      }
    }
  }
}
//desktop
@include desktop{
  .content-site__section-two{
    @include flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    flex-direction: column;
    height: 95vh;
    border-left: 1px solid $gray-low;
    border-right: 1px solid $gray-low;
    .section-two__cont-text-home{
      p{
        @include rem(40);
        line-height: 1.3em;
      }
    }
    .data-contact__cont{
      border-top: none !important;
      text-align: left;
      p{
        text-align: left !important;
        @include rem(20);
        font-size: 16px !important;
      }
    }
  }
}