body.greu-proyects{
  .logo-university{
    display:none;
  }
  .content-site{
    padding: 0;
  }
  //home view projects
  &.projects-home{
    .content-site__section-two{
      background-color: $gray-medium;
      background-image: url(/wp-content/themes/greu-theme/images/bg-site.png);
      background-position: top center;
      background-size:cover;
    }
  }
}

/*=== content home===*/
.content-site__section-two{
  padding-top: 1rem;
  padding-bottom: 1rem;
  //list projects
  .content-proyects-list{

    .slick-arrow{
      position: absolute;
      top:35%;
      color: $white;
      z-index: 10;
      &:focus{
        outline: 1px solid $blue-brand-soft;
      }
      i{
        @include rem(32);
      }
      &.slick-prev{
        left:0;
      }
      &.slick-next{
        right:0;
      }
    }
    ul{
      display: block;
      li{
        a{
          figure{
            img{
              display:block;
              border-radius: 50%;
              margin: 0 auto;
            }
            figcaption{
              padding: .5rem 0;
              h2{
                text-align: center;
                @include rem(14);
                color: $white;
                text-transform: uppercase;
                font-family:'atlas-medium',sans-serif;
              }
            }
          }
        }
      }
    }
  }
  //view post projects
  .projects-post-content{
    .content-header-proyects{
      >h3{
        display:none;
      }
    }
    // titulo del prost
    .post-proyects__tittle {
      text-align:center;
      .widget-title{
        font-family:'atlas-medium',sans-serif;
      }
      .textwidget{
        p{
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
        }
      }
    }
    .post-proyects__imagen-section{
      img{
        width:100%;
        margin:0 auto;
        text-align:center;
        display:block;
      }
    }
    .projects-post-content__details-content{
      ul{
        width: 100%;
        @include flex;
        @include justify-content(center);
        @include align-items(center);
        @include flex-wrap(wrap);
        li{
          width:90%;
          padding:.5rem;
          border-bottom: 1px solid $gray-medium;
          span{
            font-family:'atlas-light',sans-serif;
            font-weight: 300;
            &.detail-item-title{
              font-family:'atlas-medium',sans-serif;
              color:$blue-brand-soft;
            }
          }
          &.detail-location{
          }
        }
      }
    }
  }
}
//tablet
@include tablet{
  .content-site__section-two{
    height: 95vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: 1px solid $gray-low;
    border-right: 1px solid $gray-low;
  }
}
//desktop
@include desktop{
  .content-site__section-two{
    @include flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    flex-direction: column;
    height: 95vh;
    border-left: 1px solid $gray-low;
    border-right: 1px solid $gray-low;
    overflow-x: auto;
    .content-proyects-list{
      width:100%;
      ul{
        width:100%;
        @include flex;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        li{
          // padding:2rem;
          // width: 33.333333%;
          // picture{
          //   display:block;
          //   margin:auto;
          //   width:320px;
          //   height:320px;
          //   overflow:hideen;
          //   img{
          //     width:100%;
          //     height:100%;
          //   }
          // }
          figure{
            picture{
              display: flex;
              max-width: 220px;
              overflow: hidden;
              border-radius: 50%;
              min-height: 220px;
              justify-content: center;
              align-items: center;
              margin:0 auto;
            }
          }
        }
      }
    }
    .projects-post-content{
      .panel-grid{
        .content-header-proyects{
          border-bottom:1px solid $gray-medium;
          >h3{
            display:none;
          }
        }
      }
      .projects-post-content__details-content{
        ul{
          li{
            width:90%;
          }
          li:nth-child(3){
            border-bottom: none;
          }
        }
      }
    }
  }
}