body.greu-team{
    .logo-university{
        display:none;
    }
    .content-site__section-two{
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        overflow:auto;
        .img-profile-cont{
            margin-left:0;
            margin-right:0;
            img{
                width: 100%;
            }
        }
        .description-profile-cont{
            margin-left:0;
            margin-right:0;
            h3,h4{
                font-family: $rubik-medium;
                color: $blue-brand-soft;
                text-align: center;
            }
            p{
                font-family: $rubik-light;
            }
        }
    }
    @include tablet{
        .content-site__section-two{
            height: 95vh;
            border-left: 1px solid $gray-low;
            border-right: 1px solid $gray-low;
            .description-profile-cont{
                padding: 1.5rem 0;
                h3,h4{
                    @include rem(16);
                    text-align: left;
                }
                p{
                    font-family: $rubik-light;
                }
            }
        }
    }
    @include desktop{
        .content-site__section-two{
            height: 95vh;
            border-left: 1px solid $gray-low;
            border-right: 1px solid $gray-low;
            .description-profile-cont{
                padding: 1.5rem 0;
                h3,h4{
                    @include rem(14);
                    text-align: left;
                }
                p{
                    font-family: 'atlas-light' , sans-serif;
                    @include rem(14);
                }
            }
        }
    }
}