/*=== Fonts Site ===*/

/*=== Font grotesque ===*/
@font-face {
  font-family: 'atlas-light';
  src: url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/AtlasGrotesk-Light-Web.woff2') format('woff2');
  src: url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
  url('http://www.greuarquitectos.com//wp-content/themes/greu-theme/fonts/AtlasGrotesk-Light-Web.eot.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal; 
}

@font-face {
  font-family: 'atlas-medium';
  src: url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2');
  src: url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
  url('http://www.greuarquitectos.com//wp-content/themes/greu-theme/fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal; 
}

@font-face {
  font-family: 'Founders-Medium';
  src: url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/FoundersGroteskTextMedium.woff2') format('woff2');
  src: url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/FoundersGroteskTextMedium.woff') format('woff'),
  url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/FoundersGroteskTextMedium.woff2') format('woff2'),
  url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/FoundersGroteskTextWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/FoundersGroteskTextMedium.ttf') format('ttf'),
  url('http://www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/FoundersGroteskTextMedium.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
// @font-face {
//   font-family: 'grotesque-regular';
//   src:   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/hk-grotesque/HKGrotesk-regular.otf');
//   src: url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/hk-grotesque/HKGrotesk-regular.woff') format('woff'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/hk-grotesque/HKGrotesk-regular.eot?#iefix') format('embedded-opentype'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/hk-grotesque/HKGrotesk-regular.ttf') format('ttf'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/hk-grotesque/HKGrotesk-regular.svg') format('svg');
//   font-weight: 300;
//   font-style: normal;
// }
// /*=== Font ostrich ===*/
// @font-face {
//   font-family: 'ostrich-light';
//   src:   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-light.eot');
//   src: url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-light.eot?#iefix') format('embedded-opentype'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-light.woff') format('woff'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-light.ttf') format('ttf');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ostrich-regular';
//   src:   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-regular.eot');
//   src:   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-regular.eot?#iefix') format('embedded-opentype'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-regular.woff') format('woff'),
//   url('//www.greuarquitectos.com/wp-content/themes/greu-theme/fonts/ostrich/ostrich-regular.ttf') format('ttf');
//   font-weight: 300;
//   font-style: normal;
// }
//=== icommon ===//
@font-face {
  font-family: 'icomoon';
  src:  url('//www.greuarquitectos.com/wp-content/themes/greu-theme/iconBase/icomoon.eot?jeuitr');
  src:  url('/www./greuarquitectos.com/wp-content/themes/greu-theme/iconBase/icomoon.eot?jeuitr#iefix') format('embedded-opentype'),
  url('//www.greuarquitectos.com/wp-content/themes/greu-theme/iconBase/icomoon.ttf?jeuitr') format('truetype'),
  url('//www.greuarquitectos.com/wp-content/themes/greu-theme/iconBase/icomoon.woff?jeuitr') format('woff'),
  url('//www.greuarquitectos.com/wp-content/themes/greu-theme/iconBase/icomoon.svg?jeuitr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-across-to-left:before {
  content: $cross-left;
}
.icon-across-to-right:before {
  content: $cross-right;
}