@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
body{
  padding:0;
  margin:0;
  font-family:'atlas-light',sans-serift;
  font-weight:400;
}
.row{
  max-width: 80rem;
  @include desktop-large{
    max-width:none;
  }
}
.content-site{
  position: relative;
  @include flex;
  @include align-items(center);
  @include tablet{
    height:100vh;
  }
  @include desktop{
    //
  } 
}
.content-site{
  padding:0 1rem;
}
body.greu-global{}
ul{
  list-style: none;
  margin: 0;
  li{
    a{
      font-family:'atlas-light',sans-serift;
    }
  }
}
*{
  &::selection{
    color: $white; background-color:$blue-brand-soft; 
  }
  &::-moz-selection {
    color: $white; background-color:$blue-brand-soft; 
  }
}
//Call to actions
.cta-content{
  padding: 1rem;
  text-align: right;
  width: 100%;
}
.cta-link{
  padding:.5rem;
  border-radius: 10px;
  font-family:'atlas-light',sans-serift;
  @include rem(12);
  &.cta-blue{
    background-color: #258faf;
    color: $white;
  }
}
//=== bloques de texto ===//
.text-block__columns{
  font-family:'atlas-light',sans-serift;
  &.text-twoColumns{
    p{
      @include blockText(2);
    }
  }
}