$browser-context: 16; // Default

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin rem($size) {
  font-size: $size + px; //Fallback in px
  font-size: calculateRem($size);
  // font-size: $size / $browser-context + rem;
}


@mixin animacionBasica0{
  -webkit-transition: all 0s ease 0s;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

@mixin animacionBasica($time, $delay){
  -webkit-transition: all $time ease $delay;
  -webkit-transition: all $time ease $delay;
  -o-transition: all $time ease $delay;
  -moz-transition: all $time ease $delay;
  transition: all $time ease $delay;
}

@mixin animacionBasica3{
  -webkit-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@mixin animacionBasica5{
  -webkit-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@mixin animacionDelay{
  -webkit-box-transition: all 0.3s ease-in-out 0.2s;
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -o-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

@mixin translacionX{
  -webkit-box-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  transform:translateX(-50%);
}

@mixin translacionY{
  -webkit-box-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
}

@mixin translacionXY{
  -webkit-box-transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

@mixin translacion($x,$y){
  -webkit-box-transform:translate($x, $y);
  -webkit-transform:translate($x, $y);
  -moz-transform:translate($x, $y);
  -o-transform:translate($x, $y);
  transform:translate($x, $y);
}

@mixin flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: box;
  display: flex;
}

@mixin justify-content($values) {
  -webkit-box-justify-content: $values;
  -moz-box-justify-content:  $values;
  -webkit-justify-content:  $values;
  -ms-justify-content:  $values;
  justify-content:  $values;
}

@mixin align-items($values) {
  -webkit-box-align-items: $values;
  -moz-box-align-items:  $values;
  -webkit-align-items:  $values;
  -ms-align-items:  $values;
  align-items:  $values;
}

@mixin flex-wrap($values) {
  -webkit-box-flex-wrap: $values;
  -moz-box-flex-wrap:  $values;
  -webkit-flex-wrap:  $values;
  -ms-flex-wrap:  $values;
  flex-wrap:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
//==============================================
// Column text grid
//==============================================
@mixin blockText($numColumns){
  -webkit-column-count: $numColumns; /* Chrome, Safari, Opera */
  -moz-column-count: $numColumns; /* Firefox */
  column-count: $numColumns;
}
//===============================================
// Media Query: begin
//===============================================
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin desktop-large{
  @media (min-width:#{$desktop-width-large}){
    @content;
  }
}
@mixin landscape-mobile{
  @media (max-width: #{$tablet-width - 1px}) and (orientation: landscape) {
    @content;
  }
}
//===============================================
// Media Query: end
//===============================================