/*== variables site ===*/

/*== variables fonts ===*/

$grotesque-bold: grotesque-bold , sans-serift ;
$grotesque-regular: grotesque-regular , sans-serift ;

$ostrich-light:ostrich-light , sans-serift;
$ostrich-regular:ostrich-regular , sans-serift;

$rubik-bold:rubik-bold , sans-serift;
$rubik-light:rubik-light , sans-serift;
$rubik-medium:rubik-medium , sans-serift;

/*== variables colors ===*/
$white:#ffffff;
$gray-medium:#2F3134;
$gray-low:#a0a0a0;
$blue-brand-soft:#03ABDD;
// patterns:end =====
// icons:begin ======
$cross-left:"\e900";
$cross-right:"\e901";
// icons:end ====
//Break points:begin
$break-mobile: 767px;
$break-tablet: 1023px;
$small-desktop: 1150px;
$hight-desktop: 1401px;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-large:1280px;
//Break points:end *************
